@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
} */

:root {
  --brobnar: #d71d21;
  --dis: #C31958;
  --ekwidon: #b56424;
  --logos: #108eb0;
  --mars: #71A93B;
  --sanctum: #19428F;
  --saurian: #069c94;
  --shadows: #35335d;
  --star-alliance: #ee9b22;
  --unfathomable: #283162;
  --untamed: #ce4322;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  /* body {
    display: flex;
    place-items: center;
  } */

  /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  } */
}
